#container {
  margin: 100px auto;
  max-width: 800px;
  height: 500px;
  display: flex;
  
}

.sidebar {
  display: flex;
  flex: 1;
  margin-right: 15px;
  flex-direction: column;
}

.sidebar .logo {
  font-size: 2rem;
}

.sidebar strong {
  font-weight: bold;
  margin-right: 5px;
}

.sidebar thin {
  color: $gray-300;
}

.sidebar span {
  text-align: right;
  color: $pink;
}

.sidebar p {
  font-size: 1em;
  color: $gray-100;
  line-height: 1.6;
}

.container-ideias-button {
  display: flex;
  justify-content: space-between;
}

.add-ideias-bt {
  background: none;
  border: none;
  font-size: 0.9em;
  font-weight: bold;
  color: $pink;
}

.view-ideias-bt {
  background: $pink;
  border: none;
  font-size: 0.9em;
  font-weight: bold;
  color: $white;
  padding: 7px 25px; 
  border-radius: 8px;
}

.with-love {
  font-size: 0.8em!important;
  text-align: center;
  color: $gray-700;
}

.container-ideias {
  flex: 3;
}

.feature-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: $gray-200;
  border: 2px solid $pink;
  padding: 4px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.feature-image img {
  height: 120%;
  margin: -5px auto;
}

.container-ideia {
  background: $gray-100;
  width: 100%;
  display: flex;
  padding: 20px 15px;
  margin-bottom: 15px;
}

.body-ideia {
  flex: 1;
  padding-left: 10px;
}

.title-ideia {
  font-weight: bold;
}

.category-ideia {
  color: $gray-600;
  font-size: 0.8em;
}

.description-ideia  {
  color: $gray-800;
}

.footer-ideia {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.share {
  font-size: 0.7em;
  font-weight: bold;
  margin-right: 7px;
  color: $gray-600;
}

.footer-ideia button {
  margin: 5px;
  font-size: 1em;
  background: none;
  border: none;
}

.footer-ideia .whatsapp {
  color: $green;
}

.footer-ideia .facebook {
  color: $blue-f;
}
.footer-ideia .linkedin {
  color: $blue-l;
}
.footer-ideia .email {
  color: $rocket;
}

.footer-ideia .view-ideia-bt {
  color: $pink;
  font-size: 0.8em;
}